{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
		"env": {
			"browser": true,
			"node": true,
			"es6": true
		},
    "plugins": [
        "react"
    ],
    "extends": [
			"airbnb-base",
			"eslint:recommended", 
			"plugin:react/recommended"
		],
    "rules": {
				"semi": ["error", "never"],
				"no-undef": 2,
        "comma-dangle": 0,
        "no-unused-vars": "warn",
        "no-console": 0,
        "no-unexpected-multiline": "warn",
        "react/display-name": 1,
				"react/jsx-uses-react": "error",
				"react/jsx-uses-vars": "error",
        'class-methods-use-this': ['error', {
          exceptMethods: [
            'render',
            'getInitialState',
            'getDefaultProps',
            'getChildContext',
            'componentWillMount',
            'componentDidMount',
            'componentWillReceiveProps',
            'shouldComponentUpdate',
            'componentWillUpdate',
            'componentDidUpdate',
            'componentWillUnmount',
          ],
        }],
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "15.6.1"
        }
    }
}
